/Estruturas/Atividade3/prog
/Estruturas/Atividade4/prog
/Estruturas/Projeto1/prog
/Paradigmas/Projeto_C/Aula2
/Estruturas/Projeto1/teste
/Estruturas/Projeto2/prog
/Estruturas/Teoria/serv
/Estruturas/Teoria/cli
/Paradigmas/Projeto_C/proj_17.exe
