* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
    background-color: midnightblue;
    color: ghostwhite;
}

container {
    width: 100%;
    height: 100%
}

h1 {
    color: lightsteelblue;
}

h2 {
    font-size: 1.5em;
    color: lightskyblue
}

.formularios {
    max-width: 95%;
}

.nomeCampo {
    height: 40px;
    width: 25%;
    padding: 1% 1%;
    background-color: mediumblue;
}

.CampoTexto {
    float: right;
    width: 70%;
    padding: 1%;
    height: 40px;
    background-color: royalblue;
}

.CampoTextArea {
    float: right;
    width: 70%;
    height: 70px;
    padding: 1%;
    background-color: royalblue;
}

.nomeCampoTextArea {
    height: 70px
}

.CampoRedeSocial {
    float: right;
    width: 70%;
    height: 70px;
    padding: 1%;
    background-color: royalblue;
}

.nomeCampoRedeSocial {
    padding: 1%;
    height: 70px;
}

.CampoLinguagens {
    float: right;
    width: 70%;
    padding: 1%;
    background-color: royalblue;
    height: 130px
}

.nomeCampoLinguagens {
    padding: 1%;
    height: 130px;
}

.botoes {
    background-color: deepskyblue;
    border-color: darkslateblue;
    width: 15%;
}

input:required:invalid,
input:focus:invalid {
    background-image: url(../imagens/wrong.gif);
    background-repeat: no-repeat;
    background-position: right
}

input:required:valid {
    background-image: url(../imagens/check.png);
    background-repeat: no-repeat;
    background-position: right
}

textarea:required:invalid,
textarea:focus:invalid {
    background-image: url(../imagens/wrong.gif);
    background-repeat: no-repeat;
    background-position: right
}

textarea:required:valid {
    background-image: url(../imagens/check.png);
    background-repeat: no-repeat;
    background-position: right
}
