* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
    background-color: #242426;
    color: ghostwhite;
}

container {
    width: 100%;
    height: 100%
}

h1 {
    font-size: 1.25em;
    color: royalblue
}

.formularios {
    max-width: 100%;
}

.nomeCampo {
    padding: 1%;
    width: 25%;
    background-color: royalblue;
    border: 1px;
}

.CampoSelect {
    float: right;
    width: 70.7%;
    padding: 1% 1% 0.8% 1%;
    background-color: royalblue;
    border: 1px;
}

.CampoTexto {
    float: right;
    width: 70.7%;
    padding: 1% 1% 0.8% 1%;
    background-color: royalblue;
    border: 1px;
}

.CampoDate {
    float: right;
    width: 70.7%;
    padding: 1% 1% 0.5% 1%;
    background-color: royalblue;
    border: 1px;
}

.CampoRadio {
    float: right;
    width: 70.7%;
    padding: 1% 1% 1% 1%;
    background-color: royalblue;
    border: 1px;
}
